<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin | Enterprise System</title>

    <!-- Online CSS Links -->
    <%- include('../snippets/header.ejs') %>
    <!-- Template Main CSS File -->
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <!-- ======= Header ======= -->
    <%- include('../snippets/nav.ejs') %>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <%- include('../snippets/sidebar.ejs') %>
    <!-- End Sidebar-->

    <main id="main" class="main">
    
        <div class="pagetitle">
            <h1>Position</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin/home">Home</a></li>
                    <li class="breadcrumb-item active">Position Upadete</li>


                    
                </ol>
            </nav>
        </div><!-- End Page Title -->
                                        
              <section class="section register d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
        
                
        
                      <div class="card ">
        
                        <div class="card-body">
        
                          <div class="pt-4">
                            <h5 class="card-title text-center pb-0 fs-4">Edit Position</h5>                          </div>
                            
                            <% if (context.position) { %>    
                          <form id="editPosition" class="row g-3">                  
                            <div class="col-12">
                              <label for="yourName" class="form-label">Position name</label>                              
                              <input type="text" name="name" class="form-control" 
                              value="<%= context.position.name %>">
                               <div class="nameErr error"></div>                        
                            </div>   

                            <input name="position_id" type="hidden" class="form-control" id="Country"
                        value="<%= context.position._id %>">

                            <div class="col-12">
                              <button class="btn btn-success w-100" type="submit">Register</button>
                            </div>
                            
                          </form>
                          <% } %>
                            
                        </div>
                      </div>
        
                    
        
                    </div>
                  </div>
                </div>
        
              </section>
              
        
            
          
       
    </main>
    <!-- End #main -->
    

    <!-- ======= Footer ======= -->
    <%- include('../snippets/adminFooter.ejs') %>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

    <script src="/formHandler/editPosition.js"></script>
    <%- include('../snippets/toast.ejs') %>
    <!-- Vendor JS Files -->
    <%- include('../snippets/scripts.ejs') %>
</body>
</html>